*
{
    margin: 0;
    padding: 0;

    -ms-touch-action: none;
    touch-action: none;
}

html,
body
{
    overflow: hidden;
    background-color: black;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}






